body{
    background: rgb(220, 223, 241);
    font-size: 25px;
    margin: 50px 0px 100px 20px;
}

img{
height: 500px;
width: 500px;
}

.p{
    width: 600px;

}

h3{

    text-transform: capitalize;
}

ol{
    width: 600px;
}

h1,h2,h3, p, .section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background: rgb(179, 184, 212);

    width: 70px;
    font-size: 20px;
    height: 30px;
    display: block;
    text-decoration: none;
    color: black;
    border: solid black 1px;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
}